// bg
.bg-overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #182224;
    opacity: .8;
    z-index: -1;
}
.bg-fixed {
	background-attachment: fixed;
}
.bg-dark-4 {
	background-color: $color-dark-4;
}
.bg-over {
    background-color: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
}